.menus-item {
    width: 6rem;
    height: 2.5rem;
    line-height: 2.5rem;
    &:hover {
        color: #F4B0A4;
    }
    &.active {
        background-color: rgba(57, 56, 56, 1);
        color: #fff;
        // &:hover {
        //     color: #fff;
        // }
    }
    
}
header {
    .bg {
        padding-top: 30%;
        background-color: #db5b43;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center top;
    }
    .word {
        width: 39.375rem;
        height: 10.4375rem;
        background-color: #db5b43;
        padding: 2.25rem;
        h1 {
            font-size: 3.125rem;
            margin-bottom: 1rem;
        }
        h4 {
            font-size: 1.5rem;
        }
    }
    .line-2 {
        border-top: 2px solid rgba(244, 176, 164, 1);
        border-bottom: 2px solid rgba(244, 176, 164, 1);
        padding: 3px 0 0 0;
        flex: 1;
        margin: 0 1.5rem;
    }
    .empty {
        height: 2.5rem;
    }
}

